/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2015, 11:06:19 PM
    Author     : husenEF
*/
@import 'spinner.css';

header#top .main-menu{
    background-color: rgba(242,100,52,0.75);
}
header#top .main-menu .container{
    background-color: #f26434;
}
#social li.menu-item{
    font-style: italic;
}
#social li.menu-item:hover a,
#social li.menu-item a:hover{
    color: #888 !important;
}
.main-menu ul > li{
    position: relative;
}
.main-menu ul > li:hover > a,
.main-menu ul > li > a:hover{
    color: #fff !important;
}
.main-menu ul > li > ul.sub-menu {
    position: absolute;
    top: 100%;
    background: #c55b2e;
    right: 0px;
}
.main-menu ul > li > ul.sub-menu li{
    float: left;
    width: 100%;
    text-align: right;
    padding: 4px 10px;
}
.main-menu ul > li > ul.sub-menu li > a{
    color: #fff !important;
}
/*slider*/
.home .orbit-wrapper > div.slider-nav > span{
    background-color: rgba(0,0,0,0.75) !important;
}
.home .swiper-slide .button a.primary-color{
    background-color: #F26622 !important;
}
#featured article .post-title h2 span{
    box-shadow: none !important;
    background-color: transparent !important;
}
/*slider*/
/*portofolio*/
#portfolio .work-item h3.cats{
    background: #F26622;
    color: #fff;
    margin: 0px;
    padding : 0px 10px;
}
/*home shop*/
.home-collected,
.home-shop{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.home-shop .shop-content .product,
.home-collected .shop-content .product{
    margin-bottom: 20px;
}
.home-shop .shop-content .product h4,
.home-collected .shop-content .product h4{
    color: #F66623;
}
.home-shop .shop-content .product p,
.home-collected .shop-content .product p{
    padding: 0px;
}
/*collected*/
.home-collected .full-title{
    background-color: #F26622;
    margin-bottom: 30px;
}
.home-collected .full-title h2{
    color: #fff;
}
.home-collected .btn-next{
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 10;
}
.home-collected .btn-next a{
    background-color: red;
    width: 30px;
    height: 40px;
    padding: 3px;
    display: inline-block;
    position: inherit;
    background-color: #959796;
    background-image: url('../img/icons/portfolio-arrows@2x.png');
    background-position: 4px center;
    background-repeat: no-repeat;
}
.btn-next .prev{
    left: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.btn-next .next{
    background-position: -57px center !important;
    right: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.home-collected .btn-next a span{
    display: none;
}

/*footer*/
#footer-widgets{
    background-color: #F26622;   
}

/*artist page*/
#artistPage{
    position: relative;
    min-height: 400px;
}
#artistPage .list {
    height: 100%;
    min-height: 400px;
}
.target{
    /*display: none;*/
}
.loading{
    height: 70px;
    width: 100%;
    text-align: center;
}
.ln-letters a:hover, .ln-letters .ln-selected{
    background-color: transparent !important;
}
.ln-letters a{
    border:0px transparent solid !important;
    color: rgba(242,100,52,1);
}
.ln-letter-count.letterCountShow{
    /*display: none;*/
}
.allartis li{
    color: #000;
    font-size: 14px;
    font-family: 'Arial';
    margin: 3px 0px;
    cursor: pointer;
}
.list .nav{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.list .nav a{
    color: rgba(242,100,52,1);
    font-style: italic;
    text-transform: lowercase;
}
.list .nav a.next{
    float: right;
}
/*update komang*/
.row .col img{
    width:100%;
}
header#top nav > ul > li.megamenu > ul.sub-menu{
    background: #c55b2e;
}

.home-collected, .home-shop{
    background:#f8f8f8;
}
.portfolio-items .col.span_4 , 
.col.span_3.product ,
.col.span_4.product{
    background: #FFF;
    padding: 20px;
}

p {
    padding-bottom: 0px;
}
#product-collected {

}